:root {
  --dark-blue: #2d314e;
  --green: #31cf70;
  --turquoise: #2cb9cb;
  --body-bg: #fafafa;
  --pale-green: #77bda3;
  --light-gray: #959499;

  --desaturated-green: #84e1a7;
  --desaturated-turquoise: #81d6db;

  --headers-fg: var(--dark-blue);
  --normal-fg: var(--light-gray);

  --hero-bg: #fafafa;

  --sides-separation: 10.1rem;
  --why-section-bg: #f4f5f7;

  --form-border-color: #d1d5db;
  --heading-line-height: 3.875rem;

  --table-heading-bg: #f9fafb;
  --table-even-row-bg: #f4f5f7;
  --table-odd-row-bg: #ffffff;
  --table-default-fg: #6b7280;
  --table-border-color: #e5e7eb;
  --table-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);

  --warning-color: #ff8a8a;
  --success-color: #84E1A7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--body-bg);
}

a {
  text-decoration: none;
}
